body,html{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to bottom right, #ffc837, #ff8037, #752b00) !important;
    background: linear-gradient(to bottom right, #ffc837, #ff8037, #752b00) !important;
}
.message_form {
    width: 100%;
    padding-left: 1.5%;
    padding-right: 2%;
    border-radius: 500px !important;
    position: relative;
    display: flex;
    top: 0;
}
.message {
    outline: none;
    background-color: #00000000 !important;
    border:0 !important;
    color:white !important;
    width: 100%;
    overflow-y: auto;
}
.delete_icon {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('images/bin_icon.png');

    border-radius: 4.16rem;
    width: 1.83rem;
    height: 1.83rem;
}
.send_button {
    outline: none;
    background-color: #00000000 !important;
    border:0 !important;
    color:white !important;
}
.logo {
    top: 0;
    margin: 2rem auto;
    width: 200px;
    height: 200px;
}

.logo_ignite {
    width: 200px;
    height: 200px;
}

.messageContainer {
    display: none;
    position: absolute;
    overflow: scroll;
    top: 180px;
    right: 0;
    width: 370px;
    height: 249px;
}

.chat{
    top: 2rem;
    height: 85%;
}

.card{
    width: 35rem;
    height: 100%;
    display: flex;
    border-radius: 1.1rem !important;
    background-color: #50505066 !important;
    margin: 0 auto 3rem auto;
    border: 1px solid #3d1a02c5;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: scroll;
    height: auto;
}

/* ============Scroll Bar customization ==============*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5b270188;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2e130088;
  }
  /* ============Scroll Bar customization ==============*/
  

.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
    padding: 0;
border-radius: 0 0 0.625rem 0.625rem !important;
    border-top: 0 !important;
background-color: #220f00ab;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: #0000008a !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: #0000008a !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 100%;
    width: 100%;
    right: 0;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    margin: 0 auto 0 auto;
    height: 6rem;
    width: 6rem;
}
.rounded-circle.user_img_msg{
    height: 1.83rem;
    width: 1.83rem;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
max-width: 50%;
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background: -webkit-linear-gradient(to bottom right, #ffc837, #ffb237, #752b00) !important;
background: linear-gradient(to bottom right, #ffa837, #ff8037, #be5b21) !important;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
background-color: #5b270188;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    /* some CSS here */
  }
  
  /* #### Mobile Phones Landscape #### */
  @media screen and (max-device-width: 640px) and (orientation: landscape){
    /* some CSS here */
  }
  
  /* #### Mobile Phones Portrait or Landscape #### */
  @media screen and (max-device-width: 640px){
    /* some CSS here */
  }
  
  /* #### iPhone 4+ Portrait or Landscape #### */
  @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
  }
  
  /* #### iPhone 5 Portrait or Landscape #### */
  @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
  }
  
  /* #### iPhone 6 and 6 plus Portrait or Landscape #### */
  @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
    /* some CSS here */
  }
  
  /* #### Tablets Portrait or Landscape #### */
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    /* some CSS here */
  }
  
  /* #### Desktops #### */
  @media screen and (min-width: 1024px){
    /* some CSS here */
    /* .html {
        overflow-y: hidden;
        width: 1080px !important;
    }
    .card {
        height: 1000px !important;
    } */
  }